version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: chamcong_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: passw0rd
      POSTGRES_DB: chamcong
    ports:
      - "54321:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  kong:
    image: kong:3.6
    container_name: kong
    depends_on:
      - postgres
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: postgres
      KONG_PG_PORT: 5432
      KONG_PG_USER: postgres
      KONG_PG_PASSWORD: passw0rd
      KONG_PG_DATABASE: kong
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    ports:
      - "8000:8000" # public gateway
      - "8001:8001" # admin api
    command: >
      sh -c "
      kong migrations bootstrap &&
      kong start
      "
volumes:
  pgdata:
